#app {
    font-family: 'Montserrat', sans-serif;
}
.router-link-exact-active {
    font-weight: bold;
}
.card-product {
    border-radius: 15px;
}

.card-hero {
    border-radius: 15px;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-thumbnail {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.read-more-info-icon .hidden-info {
    position: absolute;
    top: 23px;
    width: 150px;
    text-align: left;
    background: rgb(8, 8, 8);
    padding: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  color:#fff;
}
.read-more-info-icon.modal-left .hidden-info { 
    right: 0;
}
.read-more-info-icon.modal-right .hidden-info { 
    left: 0;
}
.read-more-info-icon:hover .hidden-info {
    opacity: 1;
}

.add-button {
    width: 50px;
    height: 45px;
    background-color: #f43444;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
  }
  
  .add-button::before {
    content: "+";
  }
  
  .add-button:hover {
    width: 150px;
    background-color: #f43444;
  }
  
  .add-button:hover::before {
    opacity: 0;
  }
  
  .add-button:hover::after {
    content: "Tambah Koleksi";
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }