
:root{
  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

/* sidebar */

.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  font-style: bold;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: #eff1f3;
}

.sidebar header {
  position: relative;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar .search-box {
  background: #ee5b67;
  color: #FFFFFF;
}

.search-box .search {
  color: #FFFFFF;
}

.search-box .search::placeholder {
  color: #FFFFFF;
}

.link-dashboard {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: var(--tran-04);
}

.link-dashboard:link,
.link-dashboard:visited {
  color: inherit;
}

.link-dashboard:hover {
  text-decoration: none;
  color: white;
  background: #ee5b67;
}
.link-dashboard:active {
  text-decoration: none;
  color: white;
  background: #ee5b67;
}

.link-dashboard .router-link-exact-active{
  background: #ee5b67;
}

.link-dashboard .router-active{
  background: #ee5b67;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: #ee5b67;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar .image-text img{
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text{
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .role {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: #ee5b67;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
}

.bg-dash {
  background: #ee5b67;
  color: #FFFFFF;
}

.menu-bottom {
  position: relative;
  margin-top: 650px;
  bottom: 0;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
}
/* app */

#app {
    font-family: 'Montserrat', sans-serif;
}
.router-link-exact-active {
    font-weight: bold;
}
.card-product {
    border-radius: 15px;
}

.card-hero {
    border-radius: 15px;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-thumbnail {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.read-more-info-icon .hidden-info {
    position: absolute;
    top: 23px;
    width: 150px;
    text-align: left;
    background: rgb(8, 8, 8);
    padding: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  color:#fff;
}
.read-more-info-icon.modal-left .hidden-info { 
    right: 0;
}
.read-more-info-icon.modal-right .hidden-info { 
    left: 0;
}
.read-more-info-icon:hover .hidden-info {
    opacity: 1;
}

.add-button {
    width: 50px;
    height: 45px;
    background-color: #f43444;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
  }
  
  .add-button::before {
    content: "+";
  }
  
  .add-button:hover {
    width: 150px;
    background-color: #f43444;
  }
  
  .add-button:hover::before {
    opacity: 0;
  }
  
  .add-button:hover::after {
    content: "Tambah Koleksi";
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  
  /* Shimmer */
  .br {
    border-radius: 5px;  
  }
  
  .w20 {
    width: 20%;
  }

  .w40 {
     width: 40%;
  }

  .w60 {
    width: 60%;
 }
  
  
  .pic {
    height: 500px;
    width: auto;
    position: relative;
    background: #777;
    border-radius: 2%;
  }
  
  .comment {
    height: 20px;
    background: #777;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .animate {
     animation : shimmer 2s infinite;
     background: linear-gradient
     (to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
     background-size: 1000px 100%;
  }
  
  .shimmer {
    color: grey;
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2s infinite;
    font-size: 50px;
    max-width:500px;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }